/*! formstone v0.6.1 [checkbox.css] 2015-05-22 | MIT License | formstone.it */

/**
	 * @class
	 * @name .fs-checkbox-element
	 * @type element
	 * @description Target elmement
	 */
/**
	 * @class
	 * @name .fs-checkbox
	 * @type element
	 * @description Base widget class
	 */
/**
	 * @class
	 * @name .fs-checkbox.fs-checkbox-checked
	 * @type modifier
	 * @description Indicates checked state
	 */
/**
	 * @class
	 * @name .fs-checkbox.fs-checkbox-radio
	 * @type modifier
	 * @description Indicates radio interface
	 */
/**
	 * @class
	 * @name .fs-checkbox.fs-checkbox-toggle
	 * @type modifier
	 * @description Indicates toggle interface
	 */
/**
	 * @class
	 * @name .fs-checkbox.fs-checkbox-focus
	 * @type modifier
	 * @description Indicates focused state
	 */
/**
	 * @class
	 * @name .fs-checkbox.fs-checkbox-disabled
	 * @type modifier
	 * @description Indicates disabled state
	 */
.fs-checkbox {
  /**
		 * @class
		 * @name .fs-checkbox-enabled
		 * @type modifier
		 * @description Indicates enabled state
		 */
  /**
		 * @class
		 * @name .fs-checkbox-label
		 * @type element
		 * @description Label element
		 */
  /**
		 * @class
		 * @name .fs-checkbox-marker
		 * @type element
		 * @description Marker element
		 */
  /**
		 * @class
		 * @name .fs-checkbox-flag
		 * @type element
		 * @description Flag element
		 */
}
.fs-checkbox.fs-checkbox-enabled {
  cursor: pointer;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.fs-checkbox.fs-checkbox-enabled:focus {
  box-shadow: none;
  outline: none;
}
.fs-checkbox,
.fs-checkbox:after,
.fs-checkbox:before,
.fs-checkbox *,
.fs-checkbox *:after,
.fs-checkbox *:before {
  box-sizing: border-box;
  -webkit-transition: none;
          transition: none;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
.fs-checkbox-element_wrapper {
  position: relative;
  border: 0;
  height: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  width: 0;
}
.fs-checkbox-element {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: none;
          transition: none;
}
.fs-checkbox-label {
  color: #666666;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.fs-checkbox-marker {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
.fs-checkbox-flag {
  width: 100%;
  height: 100%;
  margin: 0;
}
.fs-checkbox-flag:before {
  width: 5px;
  height: 10px;
  border: 2px solid #541C1F;
  border-top: 0;
  border-left: 0;
  content: '';
  display: block;
  margin: 3px 0 0 6px;
  -webkit-transition: -webkit-transform 0.15s ease;
          transition: transform 0.15s ease;
  -webkit-transform: rotate(45deg) scale(0);
      -ms-transform: rotate(45deg) scale(0);
          transform: rotate(45deg) scale(0);
}
.fs-checkbox-checked .fs-checkbox-flag:before {
  -webkit-transform: rotate(45deg) scale(1);
      -ms-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}
.no-csstransforms .fs-checkbox-flag:before {
  width: 100%;
  height: 100%;
  content: "\2713";
  display: none;
  line-height: 1;
  text-align: center;
}
.no-csstransforms .fs-checkbox-checked .fs-checkbox-flag:before {
  display: block;
}
.fs-checkbox-radio .fs-checkbox-marker {
  border-radius: 100%;
}
.fs-checkbox-radio .fs-checkbox-flag {
  background: #999999;
  border: 3px solid #ffffff;
  border-radius: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.15s ease;
          transition: transform 0.15s ease;
}
.fs-checkbox-radio .fs-checkbox-flag:before {
  display: none;
}
.fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag:before {
  display: none;
}
.no-csstransforms .fs-checkbox-radio .fs-checkbox-flag:before {
  display: none;
}
.no-csstransforms .fs-checkbox-radio.fs-checkbox-checked .fs-checkbox-flag:before {
  display: block;
}
.fs-checkbox-focus .fs-checkbox-label {
  color: #333333;
}
.fs-checkbox-focus .fs-checkbox-marker {
  border-color: #999999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.fs-checkbox-disabled {
  cursor: default;
  opacity: 0.5;
}
.fs-checkbox-disabled .fs-checkbox-label {
  color: #666666;
  cursor: default;
}
.fs-checkbox-disabled .fs-checkbox-marker {
  border-color: #cccccc;
  cursor: default;
}
.fs-checkbox-toggle {
  position: relative;
}
.fs-checkbox-toggle .fs-checkbox-label {
  line-height: 40px;
}
.fs-checkbox-toggle .fs-checkbox-marker {
  width: 100px;
  height: 40px;
  position: relative;
  border-radius: 3px;
}
.fs-checkbox-toggle .fs-checkbox-marker:after {
  clear: both;
  content: '';
  display: table;
}
.fs-checkbox-toggle .fs-checkbox-flag {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #999999;
  border: 2px solid #ffffff;
  border-radius: 3px;
  display: block;
  margin: 0;
  -webkit-transition: left 0.15s ease;
          transition: left 0.15s ease;
}
.fs-checkbox-toggle .fs-checkbox-flag:before {
  display: none;
}
.fs-checkbox-toggle .fs-checkbox-flag:after {
  width: 2px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff;
  box-shadow: 3px 0 0 #ffffff, -3px 0 0 #ffffff;
  content: '';
  margin: auto;
  opacity: 0.75;
}
.no-touch .fs-checkbox-toggle:hover .fs-checkbox-flag:after {
  opacity: 1;
}
.fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag {
  left: 50%;
}
.fs-checkbox-toggle.fs-checkbox-checked .fs-checkbox-flag:before {
  display: none;
}
.fs-checkbox-toggle.fs-checkbox-disabled .fs-checkbox-flag:after {
  display: none;
}
.fs-checkbox-toggle .fs-checkbox-state {
  width: 50%;
  color: #666666;
  display: block;
  font-size: 12px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.fs-checkbox-toggle .fs-checkbox-state_on {
  float: left;
}
.fs-checkbox-toggle .fs-checkbox-state_off {
  float: right;
}
