
body {/*width: 100%; height: 100%;*/
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     line-height: 1.32;
     color: #541C1F;
     background-color: #ffffff;}


html {width: 100%; height: 100%; font-family: 'Open Sans', sans-serif; }

div { display: block; }

h1, h2, h3, h4, h5, h6 {font-weight: 300; color: #541C1F; }

a:active, a:hover, a:link, a:visited {text-decoration: none;}

img { height: auto; width: 100%; }

hr { border-top: 1px solid #544444;}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {color: #541C1F!important;}
.navbar-default .navbar-nav > li > a { color: #541C1F!important; font-weight: bold; text-shadow: 0 1px 2px rgba(183, 159, 159, 0.6);}

.form-control {  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.form-control[readonly] {   cursor: text!important;
   background-color: #ECE5E3;

}

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;}


.pr-0{padding-right: 0;}
.pl-0{padding-left: 0;}

.pr-5 {padding-right: 5px;}
.pl-5 {padding-left: 5px;}
.pr-10 {padding-right: 10px;}
.pl-10 {padding-left: 10px;}
.pl-20 {padding-left: 20px;}
.p-0 {padding: 0;}


.ml-10 {margin-left: 10px;}
.ml-5 {margin-left: 5px;}
.ml-15 {margin-left: 15px;}
.mr-5 {margin-right: 5px!important;}
.mr-15 {margin-right: 15px;}
.mt-20{margin-top: 20px;}
.mt-15{margin-top: 15px;}
.mt-10{margin-top: 10px!important;}
.mt-5{margin-top: 5px!important;}
.mt-0{margin-top: 0;}
.mb-0 {margin-bottom: 0!important;}
.mb-5 {margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-40{margin-bottom: 40px;}
.m-0 {margin: 0 !important;}
.mr-ml-0imp {margin-right: 0!important; margin-left: 0!important;}

.lm10{left: -10px!important;}

.text-green {color: #00a65a;}
.text-purple {color: #727cb6;}
.text-yellow {color: #f39c12;}
.text-red {color: #dd4b39;}
.text-aqua {color: #00acac;}
.text-gray {color: #d2d6de;}

table {
  width: 100%;
  max-width: 100%;}

.alert {margin-bottom: 0; border-radius: 0;}

.checkbox label{padding-left: 10px!important;}
.fs-checkbox-label{color: #541C1F!important; font-size: 12px!important;}
.fs-checkbox-flag {/*border: 1px solid #541C1F;*/
    color: #541C1F; padding-top: 2px; padding-left: 2px;}
.fs-checkbox-marker { /*border: 1px solid #541C1F!important;*/ border: none!important;
    border-radius:0!important; background-color: #ECE5E3!important;  }



/* HEADER ------------------------- */

#hnav { background: url(../image/catalog/fon/1750x895_fon.jpg) no-repeat center center fixed; margin-bottom: 15px; border-radius: 0;}
header .navbar-header{margin-right: 20px!important;}
header .header-logo{margin: 10px 20px 10px 0;}
header .logomain .header-logo {width: 200px;}

#hnav .navbar-right {margin-right: 0;}


header .shotinfo {padding-top: 20px;}
header .shotinfo ul {
  float: right;
  margin: 0;
  padding: 0;
}
.shotinfo ul.shot-bar-menu li {
  font-size: 13px;
  display: inline;
  margin: 0 20px 0 0;
    color: #541C1F;
}
.shotinfo ul.shot-bar-menu li i {
  margin: 0 5px 0 0;
}
.shotinfo .shot-bar-menu a {
  padding: 6px 6px;
  font-weight: bold;
  color: #541C1F;
  text-decoration: none;
}


/* Modal windows ************************************************* */

/* -ModalProduct--Accordion----------------------------*/

#modalProduct .zpinfo .close{
  color: #8B7474!important;
  display: block;
  font-size: 34px;
  font-weight: lighter;
    line-height: 16px;
  opacity: 0.6;
  padding: 12px;
 /* position: absolute;*/
  right: 0;
  text-shadow: none;
  top: 0;
  z-index: 1;  }

#modalProduct #content .row hr { margin-top: 10px; margin-bottom: 10px;}
#modalProduct .zpinfo .list-unstyled li{font-size: 13px;}
#modalProduct .panel-group {margin-bottom: 5px;}

#modalProduct .panel-group .panel {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
    border: none;}

#modalProduct .panel-default > .panel-heading {
  background-image: none;
  background-color: transparent;
    color: #fff;
    padding: 0;
  outline: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 100%;}

#modalProduct .panel-default > .panel-heading a {
    background-color: #8B7474;
    color: #fff;
    padding: 6px 10px;
    display: inline-block;
    width: 100%;
    position: relative;}

#modalProduct .panel-heading a.collapsed {color: #ffffff;	background-color: #8B7474;}
#modalProduct .panel-default > .panel-heading a.collapsed:hover { background-color: #ECE5E3; color: #8B7474;}

#modalProduct .panel-default > .panel-heading:hover {background-color: #8B7474; }
#modalProduct .panel-heading .panel-title{font-size: 13px;}
#modalProduct .panel-heading .panel-title > a { text-decoration: none;}
#modalProduct .panel-heading .panel-title > a:hover {  color: #fff;}

#modalProduct .panel-default > .panel-heading + .panel-collapse > .panel-body {
 background-color: #ECE5E3;
    border: none!important;
    padding: 6px 10px;
    color: #541C1F;
    font-size: 13px;
}

#modalProduct .panel-default .panel-collapse .panel-body p {margin-bottom: 0;}

#modalProduct .panel-default .panel-collapse .panel-body .table {margin-bottom: 0;}

#modalProduct .nav-tabs {border-bottom: 1px solid #ECE5E3;}

#modalProduct .nav-tabs>li>a {border-radius:0; color: #541C1F; font-size: 13px;}
#modalProduct .nav-tabs>li>a:hover { border-color: #ECE5E3 #ECE5E3 #ECE5E3;}

#modalProduct .nav>li>a { padding: 5px 10px;}
#modalProduct .nav>li>a:focus,
#modalProduct .nav>li>a:hover {
    text-decoration: none;
    background-color: #ECE5E3;
}

#modalProduct .nav-tabs>li.active>a,
#modalProduct .nav-tabs>li.active>a:focus,
#modalProduct .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #8B7474;
   /* border:none;*/
    border: 1px solid #8B7474;
    border-bottom-color: transparent;
}

/*------------------------- Modal Order ----------------------*/

#modalOrder .morder-header .label{color: #541C1F;}

#modalOrder .morder-header .close{
    color: #fff;
    background-color: #8B7474;
  display: block;
  font-size: 34px;
  font-weight: lighter;
    line-height: 16px;
  opacity: 0.6;
  padding: 12px;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;
  z-index: 1;  }

.ontop{ position: absolute; z-index: 1; top: 0;}

/*------------------------- Slider Modal ----------------------*/
#modalProduct #thumbcarousel .thumb img:hover {opacity: .7;}

#modalProduct .item .thumb {width: 25%; cursor: pointer; float: left;}

/*#modalProduct .item .thumb img {width: 100%;   }
#modalProduct .item img {	width: 100%;}*/

#modalProduct .caption
{ /*padding: 6px 10px ; margin-bottom: 10px; color: #ffffff; background-color: #8B7474;*/
  text-shadow: 0 1px 2px rgba(183, 159, 159, 0.6); }
#modalProduct .caption > h4{margin-top: 5px; margin-bottom: 5px; text-transform: uppercase; font-weight: bold;}
#modalProduct .caption ul li h4{margin-top: 5px; margin-bottom: 5px;}

#modalProduct .modal-body { padding: 10px;}
#modalProduct .container-fluid { padding-right: 0; padding-left: 0;}
#modalProduct .container-fluid .row {margin-right: 0; margin-left: 0;}
#modalProduct .caption p{margin-bottom: 0; font-size: 18px;}
#modalProduct .caption p span{margin-bottom: 0; font-size: 15px;}

#modalProduct .zpinfo #product .control-label h5 { font-weight: bold; margin-bottom: 5px;}

/* MENU ---------------------*/

.dropdown-menu {
  min-width: 220px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #f1f1f1;
  z-index: 101;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

  .dropdown-menu .divider { background-color: #ECE5E3; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #6d534c 0%, #6d534c 100%);
    color: #fff!important;
}

header .navbar-collapse .menuul > li.active,
header .navbar-collapse .menuul > li > a:hover,
header .navbar-collapse .menuul > li.active a:hover,
header .navbar-collapse .menuul > li.active a:focus,
header .navbar-collapse .menuul > li > a:focus {
   /* background-color: #e7e7e7!important;*/
    color: #fff!important;
    background: #997268!important;}

.fai-home-nstl{font-size: 18px;}


/* Cart Menu - Main Cart - Check Cart - Account Order ------ */

.ul-drdn-cart{min-width: 440px; padding: 5px 3px; border-radius: 0;}

.shop-cart{font-size: 16px;}
.badge { background-color: #8dc63f!important; font-size: 14px; color: #fff!important;}

.cart-items { max-height: 272px; overflow: hidden; overflow-y:auto;}
.cart-items table tr,
.cart-items table tfoot tr,
#mncheckcart tr,
#checkcart tr,
#actorder tr{ border-bottom: solid 1px #ECE5E3!important;}
.cart-items table tr:hover,
#mncheckcart tr:hover,
#checkcart tr:hover,
#actorder tr:hover{background: #ECE5E3;}
.cart-items table tr td{padding-bottom: 5px; padding-top: 5px; line-height: 1;}
.miniCartProductThumb {width: 80px; height: auto; vertical-align: middle; }
.miniCartProductThumb img {width: 80px; height: 57px; }
.miniCartProductThumb img:hover{opacity: 0.5;}
.cart-items table tr td h6, .miniCartDesc p, .miniCartDesc small{margin-left: 5px; margin-right: 5px; line-height: 1;}
.miniCartDesc p{margin-bottom: 2px; font-size: 12px;}
.cart-items table tr td h6 {margin-top: 2px; margin-bottom: 0;}
.miniCartDesc a, .miniCartDel a {color: #541C1F; text-decoration: none;}
.miniCartDesc small{color: #997268; font-size: 75%;}
.miniCartDel a:hover, .miniCartDesc a:hover{color: #997268;}
.miniCartSubtotal span {margin-bottom: 0; font-size: 12px;}
.miniCartQuantity input{font-size: 12px; padding: 1px; width: 18px; height: auto; text-align: center; vertical-align: middle; border: none;}
.miniCartQuantity .fa-minus{ margin-right: 2px!important; font-size: 12px!important;}
.miniCartQuantity .fa-plus{margin-left: 2px!important; font-size: 12px!important;}

.cart-total{padding-top: 10px; padding-bottom: 10px; margin-bottom: 10px; margin-top: 5px;} /*background: #ECE5E3;*/

.cart-total .ctotal-tov {margin-left: 5px;}
.cart-total .ctotal-tov span, .cart-total .ctotal-price span {font-size: 13px;}
.cart-total .ctotal-price {margin-right: 5px;}


/* ------------------------------------------------- Main Cart */
.mncart-items{margin-bottom: 60px;}
.mncart-items table > thead > tr > th{background-color: #E5DCD9; border-bottom: none; padding: 8px 0; line-height: 1.4; vertical-align: top;}

.mncart-items table tr td {padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-color: #ECE5E3;}
.mnCartProductThumb {width: 160px; height: auto; vertical-align: middle;}
.mnCartProductThumb img {width: 160px; height: auto;}
.mncart-items table tr td h6, .mnCartDesc p, .mnCartDesc small {margin-left: 10px; margin-right: 10px; line-height: 1.4;}
.mnCartDesc p {margin-bottom: 4px; font-size: 15px;}
.mncart-items table tr td h6 {margin-top: 4px; margin-bottom: 0; font-size: 14px;}
.mnCartDesc a, .mnCartDel a {color: #541C1F; text-decoration: none;}
.mnCartDesc small, .mnCartDel a:hover, .mnCartDesc a:hover{color: #997268;}
.mnCartQuantity a, .miniCartQuantity a {color: #541C1F;}
.mnCartQuantity a:hover, .miniCartQuantity a:hover {color: #997268; cursor: pointer;}
.mnCartQuantity input{width: 40px; text-align: center; border: none;}


/* ------------------------------------------------- Check Cart */
#checkcart {font-size: 12px;}
#checkcart > thead > tr > th{background-color: #E5DCD9; border-bottom: none; }

#checkcart tbody tr td {padding: 5px 4px; vertical-align: middle; }
#checkcart .chCartProductThumb {width: 80px; height: auto; vertical-align: middle;}
#checkcart .chCartProductThumb img {width: 80px; height: 57px;}
#checkcart .chCartProductThumb img:hover{opacity: 0.5;}
#checkcart tbody tr td h6, .chCartDesc p, #checkcart .chCartDesc small{margin-left: 5px; margin-right: 5px; line-height: 1;}
#checkcart .chCartDesc p{margin-bottom: 2px; }
#checkcart tbody tr td h6 {margin-top: 2px; margin-bottom: 0;}
#checkcart tbody tr td h6 a:hover {color: #997268;}
#checkcart .chCartDesc a {color: #541C1F; text-decoration: none;}
#checkcart .chCartDesc small{font-size: 75%;}
#checkcart .chCartDesc small{color: #997268;}
.chCartDesc a:hover {color: #997268; cursor: pointer;}
#checkcart .chCartQuantity, #checkcart .chCartCountOne span, #checkcart .chCartCountTotal span {margin-bottom: 0; }

/* ------------------------------------------------- Account Order */
#actorder > thead > tr > th{background-color: #E5DCD9; border-bottom: none; }
#actorder tbody tr td {vertical-align: middle; border-color: #ECE5E3;}
.actOView a {color: #541C1F; text-decoration: none;}
.actOView a:hover{color: #997268; cursor: pointer;}

/* Login Form -------------------------------------------------- */

.fg-form-nstl {margin-bottom: 20px!important;}

.ul-drdn-nstl {min-width: 280px; padding: 20px 20px 5px; border-radius: 0;}


.login-form .form-group i {color: #541C1F;}
.login-form .social-links { display: inline-block; margin: 0;}

.sl-liai-nstl {font-size: 18px;}
.login-form span {margin-right: 20px;}
.login-form .social-links li {  margin: 0 15px 10px 0; font-size: 18px;}
.social-links { padding: 0; list-style: none;  margin: 15px 0 15px 25px;}
.social-links li { margin: 10px 20px 10px 0; display: inline-block; font-size: 30px;}
.social-links li.vkontakte a:hover {color: #4e729a;}
.social-links li.facebook a:hover {color: #3b5998;}
.social-links li.twitter a:hover {color: #55acee;}
.social-links li.skype a:hover {color: #00aff0;}
.social-links li.linkedin a:hover {color: #0976b4;}
.social-links li.googleplus a:hover {color: #dd4b39;}
.social-links li.youtube a:hover {color: #b31217;}

.social-links li a {
	color: #541C1F;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


.form-isearch-nstl { top: 9px!important;  right: 0 !important;}

/*.form-control { border: 1px solid #541C1F; color: #541C1F;}*/

.form-control {
  background-color: #ECE5E3;
  background-image: none;
  border: medium none;
  box-shadow: none;
  color: #541C1F;
  display: block;
  /*font-family: "Open Sans",sans-serif;*/
  font-size: 12px;
  font-weight: 400;
  height: 34px;
  margin-bottom: 14px;
  margin-top: 6px;
  padding: 7px 8px 9px;
  vertical-align: middle;
  /*width: 43%;*/
  box-shadow: none!important;
}

.btn-brown {
    color: #fff;
    background-color: #541C1F;
    border-color: #541C1F;
    font-weight: 300;
    border-radius: 0;
    display: inline-block;
    text-align: center;
      white-space: nowrap;
      vertical-align: middle;
    touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: none;
    text-decoration: none!important;
}
.btn-brown:hover, .btn-brown:focus, .btn-brown:active, .btn-brown.active, .open .dropdown-toggle.btn-brown {
    color: #fff;
    background-color:#8B7474;
    border-color: #8B7474;
    font-weight: 300;
}

.btn-white {
  background-color: transparent;
  color: #8B7474;
  border: 1px solid #8B7474;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  text-decoration: none!important;
}
 .btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white
 {color: #8B7474!important;
  background-color: #ECE5E3!important;
  border-color: #ECE5E3!important;
}

/* Content-block ********************************* */

#content-block, #toppos {
    margin-bottom: 25px;}

#content-block .newspay .caption {
  z-index: 100;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 4%;
  left: 0;
  color: #ffffff;
  /*background-color: rgba(215, 228, 235, 0.5);*/
    background: rgba(84, 35, 35, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#content-block .akcii .caption, #toppos .img-caption .caption, #content-block .lider .caption {
  z-index: 100;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 4%;
  left: 0;
  color: #ffffff;
  /*background-color: rgba(215, 228, 235, 0.5);*/
    background: rgba(84, 35, 35, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#content-block .captiontwo{
  z-index: 100;
  margin-left: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 68%;
  left: 0;
  color: #ffffff;
  /*background-color: rgba(215, 228, 235, 0.5);*/
    background: rgba(84, 35, 35, 0.4);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);}

#content-block .newspay .caption h2 {color: #3EE73F; margin-top: 10px; }
#content-block .newspay .caption p{font-size: 20px; }
#content-block .akcii .caption h2 {color: #EBF613; margin-top: 10px;}
#content-block .lider .caption h2 {color: #29CFEC; margin-top: 10px;}


#content-block .akcii .captiontwo p, #content-block .lider .captiontwo p
{ padding-top: 5px; margin-bottom: 5px; font-size: 18px;}

#content-block .lider{margin-top: 15px; height: auto;}

#content-block .newspay:hover img, #content-block .akcii:hover img, #content-block .lider:hover img {
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%);
  -moz-filter: grayscale(30%);
  -o-filter: grayscale(30%);
  -ms-filter: grayscale(30%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}

#snews .news-all a{color: #541C1F; font-weight: bold; font-size: 13px;}
#snews .news-all a:hover{color: #8B7474;}

a.scrollup {
    outline: 0;
    text-align: center;
}

.scrollup {
    position: fixed;
    width: 32px;
    height: 32px;
    bottom: 0;
    right: 20px;
    background: #72675E;
    z-index: 999;
}

.scrollup:hover{background:#AB9684;}

a.scrollup i {
    margin-top: 10px;
    color: #fff;
}

/* MENU PRODUCT, Asort, Toppos ********************************* */

.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #9D9D9D;
}
.headline h1, .headline h2, .headline h3, .headline h4 {
  color: #541C1F;
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid #8B7474;
}

#asort .headline h3 {color: #541C1F;}

#asort a.img-caption {
	margin: 0 0 25px 0;
	display: block;
}

#asort .img-caption img {
	position: relative;
}

#asort .img-caption figure {
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
}

#asort .img-caption figcaption {
	/*background: rgba(0, 0, 0, 0.4);*/
    background: rgba(84, 35, 35, 0.4);
	position: absolute;
	box-sizing: content-box;
   /* padding: 2px 0 2px 0;*/
	bottom: 0;
	display: block;
	width: 100%;
    /*max-height: 75px;*/
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
}

#asort .img-caption:hover figcaption {
   /*background-color: rgba(215, 228, 235, 0.5);*/
     background: rgba(84, 35, 35, 0.4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6); }

#asort .img-caption figcaption h3 {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
    margin: 10px 10px 2px 10px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);}


#asort .img-caption figcaption span
{	display: block;
	position: relative;
	opacity: 0;
	max-height: 0;
    padding: 0 0 0 10px;
    margin-bottom: 5px;
	-webkit-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-moz-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-ms-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-o-transition:max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;}

#asort .img-caption:hover figcaption span
{   max-height: 50px;
	opacity: 1;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);}

#asort .img-caption figure img {
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;}

#asort .img-caption figure img:hover{
    transform:scale(1.1) rotate(-1.1deg);
    -webkit-transform:scale(1.1) rotate(-1.1deg);
    -moz-transform:scale(1.1) rotate(-1.1deg);
    -ms-transform:scale(1.1) rotate(-1.1deg);
    -o-transform:scale(1.1) rotate(-1.1deg);}

/* ----------- Toppos -----------------------------------------------------*/

#toppos .mnblock-prod {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #ffffff;
    border: 1px solid #E5DCD9;
   /* max-width: 280px;*/
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.label-heart{
    width: 20px;
    position: absolute;
    font-size: 18px;
    z-index: 101;
    right: 14px;
    top: 10px;
    text-align: center;
    opacity: 0.9;
    vertical-align: middle;
    cursor: pointer;}

#toppos .product-list .label-heart {
    right: 0;
    left: 14px;
}

.label-heart a{color: #fff;}
.label-heart a:hover{color: #ECE5E3;}

#toppos figure img, #snews .news-block img, #rel-post .news-block img {
	-webkit-transition-duration: 1.5s;
	/* Webkit: Animation duration; */
	-moz-transition-duration: 1.5s;
	-o-transition-duration: 1.5s;  }

#toppos .mnblock-prod:hover img, #snews .news-block:hover img, #rel-post .news-block:hover img {
    -webkit-transform: scale(1.05);
    /* Webkit: Scale up image to 1.2x original size; */
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    opacity: 1;
}

#toppos .mnblock-prod:hover, #snews .news-block:hover, #rel-post .news-block:hover {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#toppos figure a, #toppos figcaption a {text-decoration: none;}
#toppos .title-link h4{text-transform: uppercase; font-size: 16px; font-weight: bold; margin: 12px 10px 2px 10px;}
#toppos .product-list .title-link h4{margin-left: 20px;}
#toppos figcaption span {margin-left: 10px; color: #541C1F;}
#toppos .title-link h4:hover,
#toppos figcaption .qntity-input a:hover,
#toppos figcaption .cart-plus a:hover,
#modalProduct .qntity-input a:hover,
#modalProduct .cart-plus a:hover
{color: #8B7474; text-shadow: 0 1px 2px rgba(168, 152, 145, 0.6); cursor: pointer;}
#toppos .product-list figcaption .descript-product{margin-left: 20px; color: #8B7474;}
#toppos .product-grid .title-link span{color: #8B7474; margin-left: 10px;}
#toppos .product-list .title-link span{color: #8B7474; margin-left: 10px;}
#toppos .product-list figcaption .mnqntity-input{float: left!important; margin-top: 10px;}
#toppos .product-list figcaption .mnmukgg-qntity{float: left!important; width: 20%!important; margin-top: 19px;}
#toppos .product-list figcaption .mncart-plus{width: 10%!important; margin-top: 16px;}
#modalProduct .mncart-plus{margin-top: 30px;}
#toppos figcaption .qntity-input a, #modalProduct .qntity-input a{color: #541C1F;}
#toppos figcaption .cart-plus, #modalProduct .cart-plus{font-size: 28px; cursor: pointer;}
#toppos figcaption .cart-plus a, #modalProduct .cart-plus a{ color: #541C1F;}
#toppos .mukgg-qntity label, #modalProduct .mukgg-qntity label {width: 50px; border: 1px solid #ECE5E3; font-size: 13px; padding: 2px 6px;}
#toppos .mukgg-qntity .btn-white:hover,
#modalProduct .mukgg-qntity .btn-white:hover
{background: #ECE5E3!important; color: #541C1F!important; }
#toppos .mukgg-qntity .btn-white.active,
#modalProduct .mukgg-qntity .btn-white.active{background: #541C1F!important; color: #fff!important; border: 1px solid #541C1F!important;}
#toppos .mukgg-qntity .btn-white.active:hover,
#modalProduct .mukgg-qntity .btn-white.active:hover{background: #541C1F; color: #fff!important; border: 1px solid #541C1F;}

#toppos .qntity-input input[type="text"], #modalProduct .qntity-input input[type="text"] {
  width: 36px;
  height: 24px;
  text-align: center;
  border: 1px solid #ECE5E3;
  margin: 10px 6px;
  color: #541C1F;}
#modalProduct .qntity-input input[type="text"]{margin: 0;}

/*
#toppos .mnqntity-input .qntity-input,
#toppos .mncart-plus .cart-plus
{	display: block;
	position: relative;
	opacity: 0;
	max-height: 0;
 	-webkit-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-moz-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-ms-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-o-transition:max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
}

#toppos .mnblock-prod:hover .qntity-input,
#toppos .mnblock-prod:hover .cart-plus
{   max-height: 50px;
	opacity: 1;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

#toppos .mnmukgg-qntity .mukgg-qntity
{	display: block;
	position: relative;
	opacity: 0;
	max-height: 0;
  	-webkit-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-moz-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-ms-transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	-o-transition:max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out;
	transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, padding 0.2s ease-in-out; }

#toppos .mnblock-prod:hover .mnmukgg-qntity .mukgg-qntity{max-height: 50px; opacity: 1; } */


/* ----------- News ------------------- */
.label-konkurs {right: 10px; background-color: #18bd2b;}
.label-history{right: 10px; background-color: #00acac;}
.label-news{right: 10px; background-color: #dd4b39;}
.label-recept{right: 10px; background-color: #f39c12;}
.label-photo{right: 10px; background-color: #727cb6;}
.label-konkurs small,
.label-history small,
.label-news small,
.label-recept small,
.label-photo small{padding: 4px 4px; text-transform: uppercase;}
.news-block .label-konkurs,
.news-block .label-history,
.news-block .label-news,
.news-block .label-recept,
.news-block .label-photo{
    position: absolute;
    font-size: 13px;
    z-index: 101;
    top: 8px;
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
    vertical-align: middle;}

.news-block{
-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   backface-visibility: hidden;
   background-color: #ffffff;
   border: 1px solid #E5DCD9;
   margin: 0 auto;
   overflow: hidden;
   position: relative;}

.news-block img {
    position: relative;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1.25s ease-out;
    transition: 1.25s ease-out;}

.news-block .post-format {
    z-index: 102;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -21px;
    margin-top: -21px;}

.post-format i {font-size: 50px; opacity: 1; color: #fff;}
.post-format i:hover{color: #E5DCD9;}

.news-block a{text-decoration: none;}
.block-meta-tag { display: block; overflow: hidden; margin-top: 5px;}
.block-meta-tag ul { margin-bottom: 5px;}
.post-categories {
    text-transform: uppercase;
    list-style: none;
    line-height: 1em;
    position: relative;
    display: block;
    border-left: 6px solid #8dc63f;
    padding-left: 6px;
    margin-right: 3px;
    font-size: 10px;
    margin-left: 10px;}
#snewsone .post-categories, #snewsall .news-item .post-categories {
    margin-left: 15px;}

.post-categories li:last-child {
    margin-right: 0;
}
.post-categories li {
    display: inline-block;
    color: #541C1F;
    line-height: 1em;
    margin-right: 6px;
    font-weight: 700;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.post-categories li a{color: #8B7474;}

.news-block figcaption h6 { margin-top: 5px; margin-bottom: 0; padding: 8px 10px; text-transform: uppercase; font-weight: bold; line-height: 1.4} /*background-color: #E5DCD9;*/
.news-block figcaption p { margin-bottom: 10px; padding: 8px 10px; color: #541C1F; font-size: 13px;} /*background-color: #ECE5E3;*/
/*--------------------PAGE NEWS ----------------------------------------*/
.single-social-wrap{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 19px;}
.single-social-title {
    text-transform: uppercase;
    margin-right: 15px;
    color: #8B7474;
    font-weight: 700;
    font-size: 10px;}
.single-social-wrap a {
    display: inline-block;
    color: #fff!important;
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 0; }
.single-social-wrap a i {
    padding: 3px 7px;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);}
.single-social-wrap a i:after {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    right: 0;
    top: 1px;
    bottom: 7px;
    height: 15px;
    background: rgba(255,255,255,0.1);}
.single-social-wrap .share-title {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 17px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);}

.color-facebook { background: #4c66a4;}
.color-twitter { background: #2fc2ef;}
.color-google { background: #dd4b39;}

#news-video .thumb-wrap {
    margin: 20px 0 30px;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%!important;
    height: 0!important;
}

#news-video .video-wrap iframe, .audio-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#news-video iframe{
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    color: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

#news-content p{text-align: justify; color: #541C1F;}
#news-content blockquote{ border-left: 3px solid #541C1F; background: #ECE5E3; overflow: hidden; font-size: 15px;}
#photo-gallery .item .thumb { width: 50%; cursor: pointer; float: left;}
#photo-gallery .item .thumb:hover{opacity: 0.7;}
.single-footer {
    margin: 0 15px 25px;
    padding: 20px 0 25px;
    border-bottom: 1px solid #E5DCD9;
    border-bottom-color: rgba(0,0,0,.05);
    clear: both;
    font-size: 13px;}
.single-footer .posttags a{color: #8B7474;}

.widget-title{
    display: block;
    border-bottom: 1px solid #E5DCD9;
    height: 40px;
    margin: 0 15px 25px 0;
}
.widget-title h4{text-transform: uppercase;}
#rel-post .block-meta-tag { margin-top: 15px;}
#rel-post .block-meta-tag ul {margin-bottom: 0;}
#rel-post .news-block .post-format { top: 35%; }
#rel-post .news-block figcaption h6 { padding: 8px 15px;}

#new-response .comment .avatar {
    width: 50px;
    padding: 3px;
    border: none;}
#new-response .media>.pull-left { margin-right: 10px;}
#new-response .comment .media-body {
    border: 1px solid #E5DCD9;

    padding: 10px;
    font-size: 12px;}
#new-response .media, .media-body { overflow: hidden; zoom: 1;}
#new-response h5.media-heading {
    font-weight: 700;
    font-size: 16px;
    float: left;}
.media-heading { margin: 0 0 5px;}
.comment-meta {font-size: 10px; float: right;}
.comment, .comment .comment { margin-top: 20px; padding: 10px;}

/*--------------------PAGE ALL NEWS ----------------------------------------*/
#snewsall .news-item #news-foto{margin-top: 20px; margin-bottom: 30px;}
.news-item .label-konkurs,
.news-item .label-history,
.news-item .label-news,
.news-item .label-recept,
.news-item .label-photo{
    position: absolute;
    font-size: 13px;
    z-index: 101;
    top: 8px;
    right: 25px;
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
    vertical-align: middle;
}

/* ----------- Nav Pils ------------------- */

#toppos .nav { margin-bottom: 20px;}
#toppos .nav .badge { background-color: #ECE5E3!important;
    font-size: 14px;
    color: #8B7474!important;
    margin-left: 4px; }

#toppos .nav-pills > li.active > a,
#toppos .nav-pills > li.active > a:hover,
#toppos .nav-pills > li.active > a:focus,
#toppos .nav-pills > li > a:hover,
#toppos .nav-pills > li > a:focus {
  border: 1px solid #f3f3f3;
  color: #fff;
  background-color: #8B7474;
}

#toppos .nav-pills > li > a {
  border-radius: 0;
  padding: 6px 8px;
  border: 1px solid transparent;
  color: #8B7474;
  font-size: 13px;
 /* text-transform: uppercase;*/
  font-weight: 700;
}


/* --- Checkout ------------------------------------- */
#checkout #content{ margin-bottom: 30px;}
#checkout #content .well
{background-image: none; background-color: #E5DCD9; color: #541C1F; padding: 10px; border-radius: 0; box-shadow: none;   border: 1px solid #E5DCD9;}
#checkout #content h4{color: #541C1F;}

    #checkout .tools .list { list-style: none;  padding: 8px 10px; }
    #checkout .tools .list li {padding: 6px;}

    #checkout .entre-account .form-control{width: 50%; margin-top: 25px; margin-bottom: 25px;}
    #checkout .entre-account #checklogin-form .form-isearch-nstl {top: 9px!important;  right: 50% !important; }

    #checkout .guest-info .form-group .form-isearch-nstl,
    #checkout .guest-adres .form-group .form-isearch-nstl,
    #checkout .guest-bonus .order-date .form-group .form-isearch-nstl,
    #registr .reg-info .form-group .form-isearch-nstl,
    #registr .reg-adres .form-group .form-isearch-nstl,
    #saccount .act-persdata .form-group .form-isearch-nstl,
    #new-response .row .form-group .form-isearch-nstl,
    #contact-map .row #contact-form .form-group .form-isearch-nstl{top: 15px!important; right: 15px !important;}

    #checkout .guest-bonus .row .input-group{margin-left: 15px; margin-right: 15px;}
    #checkout .guest-bonus .row .input-group .form-control{margin-top: 0; height: 32px;}
    #checkout .guest-bonus .row .input-group .form-isearch-nstl{ top: 7px!important;  right: 27% !important;}
    #checkout .guest-bonus .form-group .form-isearch-nstl { top: 80px!important; }

/* --- Account ------------------------------------- */
#saccount #content{ margin-bottom: 30px;}

.separator {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  height: 1px;
}
.separator:after {
  background: #E5DCD9;
  background: -moz-linear-gradient(left,rgba(0,0,0,.18) 0,rgba(0,0,0,.12) 35%,rgba(0,0,0,.05) 70%,rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,.18)),color-stop(35%,rgba(0,0,0,.12)),color-stop(70%,rgba(0,0,0,.05)),color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left,rgba(0,0,0,.18) 0,rgba(0,0,0,.12) 35%,rgba(0,0,0,.05) 70%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(left,rgba(0,0,0,.18) 0,rgba(0,0,0,.12) 35%,rgba(0,0,0,.05) 70%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(left,rgba(0,0,0,.18) 0,rgba(0,0,0,.12) 35%,rgba(0,0,0,.05) 70%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right,rgba(229, 220, 217, 1) 0,rgba(0,0,0,.12) 35%,rgba(0,0,0,.05) 70%,rgba(0,0,0,0) 100%);
}
.separator:after{
  content: "";
  height: 1px;
  bottom: -1px;
  left: 0;
  width: 100%;
  position: absolute;
}

.act-order .act-btncheck label {border: none;}

/* --- Contacts ------------------------------------- */
.contact-info h4, #contact-map h4 {margin-top: 0;}
.contact-info .contact-list li{ font-size: 85%;}
.contact-foto img {width: 200px; height: 81px; margin-top: 30px;}
.contact-info label {color: #541C1F;}
.contact-info .form-group {line-height: 0;}
.contact-info .form-group label .form-control{margin-bottom: 0;}

.contact-info .social-links {margin: 0;}
.contact-info .social-links li { margin: 0 20px 10px 0; font-size: 26px;}

#scontacts #map-outer { height: auto; padding: 0; margin-bottom: 20px; margin-top: 3px;}
#scontacts #map-container { height: 380px; }

#scontacts #contact-map #contact-form .form-group input.form-control{margin-bottom: 0;}

/* --- Shops ------------------------------------- */
#sshops #map-outer { height: auto; padding: 0 15px 0 15px; margin-bottom: 20px; margin-top: 3px;}
#sshops #map-shops1 { height: 330px; }

/* Footer ------------------------------- */

.footer {
/*  background: #EDEFF1;*/
    margin-top: 30px;
    padding-top: 30px;
  font-size: 14px;
  height: auto;
  position: relative;
  width: 100%;}

.footer-top{ padding-bottom: 15px; padding-top: 15px; background-color: #E5DCD9; }
.footer-top h4{color: #541C1F; font-size: 90%;}
.footer-top ul.list {font-size: 90%;}

.footer-top .list-icons, .list {
  list-style: none;
  padding: 0;
}
.footer-top .mailcolor{color: #541C1F;}


.footer-bottom {
  background: #541C1F;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .footer-bottom p {margin-top: 10px; font-size: 12px; color: #fff;}
footer .footer-bottom a{color: #fff;}
footer .footer-bottom a:hover{color: #E5DCD9;}
footer .footer-bottom .torg-znak p{text-align: right;}
footer .footer-bottom .torg-znak .payments-card{float: right;}

footer .pull-right ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 5px;
}

footer .payments { font-size: 24px; color: #fff;}

/* Media queries */

@media (min-width:991px) and (max-width:1199px) {
    #content-block .captiontwo { top: 60%; }
}

@media (max-width: 992px) {

    #content-block .newspay.pr-0 { padding-right: 15px!important; }
    #content-block .newspay {margin-bottom: 15px;}
    header .header-logo {display: none;}

    header .nav-left, .nav-right { padding-top: 0; font-size: 13px;}
    header .shop-cart { font-size: 14px; }
    header .fai-home-nstl { font-size: 14px; }
    header .nav-right .badge { font-size: 12px; padding: 3px 6px;}
    header .nav-left > li > a, header .nav-right > li > a {
    padding-left: 10px; padding-right: 10px; }

    #toppos .product-list .title-link h4 { margin: 6px 5px 2px 5px; }
    #toppos .product-list figcaption .descript-product { font-size: 13px; margin-bottom: 0; }
    #toppos .product-list figcaption .price{margin-bottom: 4px; font-size: 13px;}
    #toppos .product-list .title-link span { margin-left: 0; }
    #toppos .product-list figcaption .mnqntity-input { margin-top: 6px; margin-left: -10px!important; }
    #toppos .product-list figcaption .mnqntity-input input { margin-top: 0; margin-bottom: 0;}
    #toppos .product-list figcaption .mnmukgg-qntity {width: 20%!important; padding-left: 0; margin-top: 6px;}
    #toppos .product-list figcaption .mncart-plus {
        width: 5%!important;
        margin-top: 4px;
        padding-right: 0;
        padding-left: 0;
        margin-left: 10px;
    }


    #modalProduct .zpinfo .close, #modalOrder .morder-header .close{
    position: fixed;
      right: 0;
      top: 0;
    background-color: #8B7474;
    margin-top: 2px;
    margin-right: 2px;}

    #modalProduct .zpinfo {padding-left: 0; padding-top: 10px;}

    .mncart-items{margin-bottom: 20px;}

    #checkout .guest-bonus .form-group .form-isearch-nstl { top: 9px!important; }

    .mnCartProductThumb {width: 120px; height: auto; vertical-align: middle;}
    .mnCartProductThumb img {width: 120px; height: auto;}
    #mncheckcart{font-size: 14px;}
    #mncheckcart tbody tr td h6, #mncheckcart .mnCartDesc p, #mncheckcart .mnCartDesc small{margin-left: 0; margin-right: 0;}
    .mnCartQuantity input {padding: 2px; width: 26px; height: auto;}

    .single-social-wrap .social-block{float: left!important; margin-top: 10px; padding-left: 15px;}
    #photo-gallery .item .thumb { width: 25%; cursor: pointer; float: left; }
    #photo-gallery #thumbcarousel{padding-left: 15px!important;}

    #contact-map{margin-top: 20px;}
    #map-container { height: 400px;}

    footer .footer-bottom .torg-znak p{text-align: left;}
    footer .footer-bottom .torg-znak .payments-card{float: left;}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
    #hnav .navbar-collapse.pr-0 { padding-right: 15px;}
    #hnav .navbar-collapse.pl-0 { padding-left: 15px;}
    #hnav .navbar-right {margin-right: -15px;}
    #hnav .navbar-collapse {border-top: 1px solid #541C1F;}
    #content-block .akcii.pr-5 { padding-right: 15px!important; }
    #content-block .akcii.pl-5 { padding-left: 15px!important; }
    #content-block .akcii {margin-bottom: 15px;}
    #content-block .akcii .lm10 {left: 0!important;}
    #content-block .lider {margin-top: 0;}
    #content-block .lider .caption h2 { font-size: 25px; }
    #content-block .lider .captiontwo {top: 54%;}

    header .user {display: none;}
    header .navbar-toggle {margin-right: -20px; border-color: #8B7474; background-color: #8B7474;}
    header .navbar-toggle:hover,
    header .navbar-toggle:focus { background-color: #ECE5E3!important; }

    header .navbar-toggle .icon-bar { background-color: #ECE5E3!important; }
    header .navbar-toggle:hover .icon-bar,
    header .navbar-toggle:focus .icon-bar {background-color: #8B7474!important;}

    #toppos .products { padding-right: 15px; padding-left: 15px;}
    #toppos #content{padding-left: 15px!important;}

    #mncheckcart, #actorder {font-size: 12px;}
    .mncart-items table tr td {padding: 4px 2px;}
    .mnCartProductThumb {width: 80px; height: auto; vertical-align: middle;}
    .mnCartProductThumb img {width: 80px; height: auto;}
    #mncheckcart tbody tr td h6, #mncheckcart .mnCartDesc p, #mncheckcart .mnCartDesc small{line-height: 1;}
    .mnCartDesc p {margin-bottom: 0; font-size: 12px;}
    #mncheckcart tbody tr td h6{font-size: 12px; margin-top: 2px;}
    .mnCartQuantity input {padding: 1px; width: 20px; }
    .mnCartQuantity .fa-minus{ margin-right: 2px!important;}
    .mnCartQuantity .fa-plus{margin-left: 2px!important;}

    #actorder tbody tr td {padding: 4px 3px;}
    #map-container { height: 360px;}


}

/* Small devices (tablets, smartphones) */
@media (min-width:481px) and (max-width:767px) {
	.nav-tabs > li > a {
		padding: 12px 10px;
		font-size: 11px;
		margin-right: 0;
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:540px) {
    .col-ls-12 {
        width: 100%;
        float: left;
        display: block;
        position: relative;
        min-height: 1px;
    }

    #checkcart tbody tr td { padding: 4px 3px; }
    #checkcart tbody tr td h6, .chCartDesc p, #checkcart .chCartDesc small{margin-left: 0; margin-right: 0;}

    #mncheckcart {font-size: 12px;}
        .mncart-items table tr td {padding: 2px 1px;}
        .mnCartProductThumb {width: 60px; height: auto;}
        .mnCartProductThumb img {width: 60px; height: auto;}
        #mncheckcart tbody tr td h6, #mncheckcart .mnCartDesc p, #mncheckcart .mnCartDesc small{line-height: 1;}
        .mnCartDesc p {margin-bottom: 0; font-size: 12px;}
        #mncheckcart tbody tr td h6{font-size: 12px; margin-top: 1px;}
        .mnCartQuantity input {padding: 1px; width: 18px; }
        .mnCartQuantity .fa-minus{ margin-right: 1px!important;}
        .mnCartQuantity .fa-plus{margin-left: 1px!important;}

    #actorder tbody tr td {padding: 4px 2px;}

}


/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {

   #checkcart, #mncheckcart, #actorder, #checkcart tbody tr td h6 {font-size: 11px;}

          .mncart-items table tr td {padding: 2px 1px;}
    .hiden-xxs{display: none;}
          #mncheckcart tbody tr td h6, #mncheckcart .mnCartDesc p, #mncheckcart .mnCartDesc small{line-height: 1;}
          .mnCartDesc p {margin-bottom: 0; font-size: 11px;}
          #mncheckcart tbody tr td h6{font-size: 11px; margin-top: 1px;}
          .mnCartQuantity input {padding: 1px; width: 18px; }
          .mnCartQuantity .fa-minus{ margin-right: 1px!important;}
          .mnCartQuantity .fa-plus{margin-left: 1px!important;}

    #actorder tbody tr td {padding: 4px 1px;}

    #map-container { height: 320px;}

    .nav-tabs > li > a:hover:after {
    		background-color: #e84c3d;
    	}

    .nav-tabs {
    		background-color: #999999;
    	}
    	.nav-tabs > li {
    		float: none;
    	}
    	.nav-tabs > li a {
    		color: #ffffff;
    		margin-right: 0;
    		border-bottom: 1px solid #8f8f8f;
    	}
    	.nav-tabs > li > a:hover {
    		color: #666666;
    	}
    	.nav-tabs > li > a:hover:after {
    		width: 3px;
    		content: "";
    		background-color: #e84c3d;
    		height: 102%;
    		position: absolute;
    		left: 0;
    		top: 0;
    	}
}